workflows/chat-url.json
{
  "active": true,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-28T05:50:48.134Z",
  "id": "61",
  "name": "chat-url",
  "nodes": [
    {
      "parameters": {},
      "id": "593477ef-8ac8-4814-829f-3587d358ac8d",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        380,
        380
      ]
    },
    {
      "parameters": {
        "url": "https://www.muebleriaselarco.com/tienda/producto/ventilador-myair-mytek-3315-pedestal-2-en-1-18/",
        "options": {}
      },
      "id": "4eb83b0a-ac89-4cb4-800f-a01aa97cc035",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        760,
        380
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": ".product_title.entry-title"
            },
            {
              "key": "description",
              "cssSelector": ".product-content p"
            },
            {
              "key": "availability",
              "cssSelector": ".availability-text"
            }
          ]
        },
        "options": {}
      },
      "id": "842c50d7-aad8-4928-8ad5-445d642cfec6",
      "name": "HTML",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        1220,
        380
      ]
    },
    {
      "parameters": {
        "path": "8454b132-c0d7-42f5-927c-872a59a99a73",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5669fd9a-bd78-4029-ab45-fa1605f0d193",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        380,
        220
      ],
      "webhookId": "8454b132-c0d7-42f5-927c-872a59a99a73",
      "alwaysOutputData": true,
      "notesInFlow": true
    },
    {
      "parameters": {
        "url": "={{ $json.query.url }}",
        "options": {}
      },
      "id": "342f580b-3825-47b6-bc42-01ffd4220700",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        600,
        220
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": ".product_title.entry-title"
            },
            {
              "key": "description",
              "cssSelector": ".product-content p"
            },
            {
              "key": "availability",
              "cssSelector": ".availability-text"
            }
          ]
        },
        "options": {}
      },
      "id": "63943afd-d14b-4b8b-81bc-290e3cb395b8",
      "name": "HTML1",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        780,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\"title\": \"{{ $json.title }}\",\n\"description\": \"{{ $json.description }}\",\n\"availability\": \"{{ $json.availability }}\"\n} ",
        "options": {}
      },
      "id": "6405b239-0d8b-410d-96ad-59e8da04b6cf",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1000,
        220
      ]
    }
  ],
  "pinData": {
    "HTML1": [
      {
        "json": {
          "title": "VENTILADOR MYAIR/MYTEK 3315 PEDESTAL 3 EN 1 18",
          "description": "El ventilador de pedestal metálico de 18 pulgadas, viene con un diseño 3 en 1, se puede usar como ventilador de pedestal, de piso y de pared. Tiene 3 velocidades diferentes con función oscilatoria de 90 grados para una cobertura amplia. Y la altura puede ser regulable de 86 a 131 cm según la necesidad. Gracias a la potencia que tiene de 120 watts, ofrece un potente flujo de aire y mayor confort en cualquier tipo de entorno donde estés.",
          "availability": "901 disponibles"
        }
      }
    ],
    "Respond to Webhook": [
      {
        "json": {
          "title": "VENTILADOR MYAIR/MYTEK 3315 PEDESTAL 3 EN 1 18",
          "description": "El ventilador de pedestal metálico de 18 pulgadas, viene con un diseño 3 en 1, se puede usar como ventilador de pedestal, de piso y de pared. Tiene 3 velocidades diferentes con función oscilatoria de 90 grados para una cobertura amplia. Y la altura puede ser regulable de 86 a 131 cm según la necesidad. Gracias a la potencia que tiene de 120 watts, ofrece un potente flujo de aire y mayor confort en cualquier tipo de entorno donde estés.",
          "availability": "901 disponibles"
        }
      }
    ]
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-03-28T06:41:53.000Z",
  "versionId": "4035d9a9-7457-4235-a8d5-a712709539cf"
}