workflows/Colonias Guros.json
{
  "active": false,
  "connections": {
    "Set_authorization": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set_authorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "IF_NO_ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FunctionItem": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_NO_ERROR": {
      "main": [
        [
          {
            "node": "FunctionItem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond_No_Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-07-26T19:14:51.603Z",
  "id": "24",
  "name": "Colonias Guros",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "id": "73e02522-cf53-4574-8986-edd5a0367e2f"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjb21tZXJjZUNvZGUiOiJndXJvcyIsInBhcnRuZXJDb2RlIjoiZ3Vyb3MiLCJyZXF1ZXN0ZXJSb2xlIjoiYXBpIiwiaWF0IjoxNjI2ODAxMTkxLCJleHAiOjE5NDIzNzcxOTEsImlzcyI6Ikd1cm9zIn0.i-bevXrh5cA7ZfxjaX1LsapEsp7Iyr7rr4TE-3SybNA"
            }
          ]
        },
        "options": {}
      },
      "name": "Set_authorization",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        480,
        140
      ],
      "id": "0d313f5c-d693-4c25-8a11-6395c4f3c0a9"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.guros.com/catalog/get-postal-location",
        "options": {
          "useQueryString": false
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "x-provider-code",
              "value": "={{$json[\"query\"][\"codigo_aseguradora\"]}}"
            },
            {
              "name": "x-partner-code",
              "value": "guros"
            },
            {
              "name": "authorization",
              "value": "={{$node[\"Set_authorization\"].parameter[\"values\"][\"string\"][0][\"value\"]}}"
            }
          ]
        },
        "queryParametersUi": {
          "parameter": [
            {
              "name": "postalCode",
              "value": "={{$json[\"query\"][\"codigo_postal\"]}}"
            }
          ]
        }
      },
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        680,
        140
      ],
      "notesInFlow": true,
      "id": "44045e83-f900-4832-b8bb-208ca27bdb15",
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c930713f-030d-4410-8d67-3114f9da4808",
        "responseMode": "responseNode",
        "options": {
          "ignoreBots": true
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        140
      ],
      "webhookId": "c930713f-030d-4410-8d67-3114f9da4808",
      "id": "e6723c07-e39b-439f-9821-4cb12149e013"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1280,
        120
      ],
      "id": "59e77278-cc92-484c-9710-bf34c18cad1b"
    },
    {
      "parameters": {
        "functionCode": "// Code here will run once per input item.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.functionItem\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n\n// Add a new field called 'myNewField' to the JSON of the item\nif(item?.stateName){\n\nitem.Estado = item.stateName;\nitem.Ciudad = item.cityName;\nitem.Colonias = item.neighborhoods.map(item => {\n  return item.name;\n}).join(',')\ndelete item.stateId;\ndelete item.stateName;\ndelete item.cityId;\ndelete item.cityName;\ndelete item.neighborhoods;\n}\n\n\n/*\n\nitem.stateName = null;\nitem.cityName = null;\n*/\n// You can write logs to the browser console\nconsole.log('Done!');\n\nreturn item;"
      },
      "name": "FunctionItem",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        1060,
        120
      ],
      "id": "1424bba6-7a7c-4306-ac31-afdede17029d"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"stateName\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "IF_NO_ERROR",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        860,
        140
      ],
      "id": "154014d5-b753-48f8-97b1-0fe8dfd53470"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=No existe este el codigo {{$node[\"Webhook\"].json[\"query\"][\"codigo_postal\"]}} para la aseguradora {{$node[\"Webhook\"].json[\"query\"][\"codigo_aseguradora\"]}}",
        "options": {
          "responseCode": 404
        }
      },
      "name": "Respond_No_Exists",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1060,
        280
      ],
      "id": "557fe5a3-d525-477e-8d9a-d3b967c3a488"
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-07-09T03:16:21.000Z",
  "versionId": "d1b51721-b3d7-48ac-bb52-adc6ea4f162a"
}