workflows/IMAP.json
{
  "active": false,
  "connections": {
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "SetHTMLItem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetHTMLItem": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB2": {
      "main": [
        [
          {
            "node": "HTML Extract1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T_InsertIMAPMongoDB": {
      "main": [
        [
          {
            "node": "T_Clean_Subject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T_IMAP_Email": {
      "main": [
        [
          {
            "node": "T_InsertIMAPMongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T_Switch_Host": {
      "main": [
        [
          {
            "node": "IF_Contain_HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "T_HTMLExtract_lamudi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "T_HTMLExtract_icasas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "T_Switch_Host_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T_HTMLExtract_i24": {
      "main": [
        [
          {
            "node": "T_i24_contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T_HTMLExtract_lamudi": {
      "main": [
        [
          {
            "node": "T_lamudi_contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T_HTMLExtract_icasas": {
      "main": [
        [
          {
            "node": "T_icasas_contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T_HTMLExtract_meli": {
      "main": [
        [
          {
            "node": "NoOp_Meli",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T_HTMLExtract_viva": {
      "main": [
        [
          {
            "node": "NoOp_viva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T_Switch_Host_2": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "T_HTMLExtract_viva",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp_viva1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T_i24_contact": {
      "main": [
        [
          {
            "node": "T_insert_contact_mongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T_icasas_contact": {
      "main": [
        [
          {
            "node": "T_insert_contact_mongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML Extract2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T_lamudi_contact": {
      "main": [
        [
          {
            "node": "T_insert_contact_mongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interval": {
      "main": [
        [
          {
            "node": "Delete_inbox_MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "T_HTMLExtract_meli",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T_Clean_Subject": {
      "main": [
        [
          {
            "node": "T_Switch_Host",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Delete_inbox_MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_Contain_HTML": {
      "main": [
        [
          {
            "node": "T_HTMLExtract_i24",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-04-17T06:11:07.315Z",
  "id": "2",
  "name": "IMAP",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        320,
        380
      ],
      "id": "6af60ed2-b754-4045-96dc-4fbc2a9d7282"
    },
    {
      "parameters": {
        "functionCode": "const _ = require('lodash')\n\nconst sanitize = str => _.chain(str)\n  .replace(/[^A-Za-z0-9&.-]/g, '-') // sanitise via whitelist of characters\n  .replace(/-(?=-)/g, '') // remove repeated dashes - https://regexr.com/6ag8h\n  .trim('-') // trim any leading/trailing dashes\n  .truncate({\n    length: 60,\n    omission: '-' // when the string ends with '-', you'll know it was truncated\n  })\n  .value()\n\nconst result = _.flatMap(items.map(item => {\n  console.log({item})\n\n  // Maps each attachment to a separate item\n  return _.values(item.binary).map(file => {\n    console.log(\"Saving attachement:\", file.fileName, 'from:', ...item.json.from.value)\n    \n    // sanitize filename but exclude extension\n    const filename_parts = file.fileName.split('.')\n    const ext = _.slice(filename_parts, filename_parts.length-1)\n    const filename_main = _.join(_.dropRight(filename_parts), '.')\n    file.fileName = sanitize(filename_main) + '.' + ext\n    \n    return {\n      json: {\n        from: sanitize(item.json.from.value[0].name),\n        date: sanitize(new Date(item.json.date).toISOString().split(\"T\")[0]) // get date part \"2020-01-01\"\n      }, \n      binary: { file }\n    }\n  })\n}))\n\nconsole.log(result)\nreturn result"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        760,
        1160
      ],
      "id": "82afd2c8-9ee5-40e3-b324-1f2a5941ca8c"
    },
    {
      "parameters": {
        "dataPropertyName": "={{$node[\"SetHTMLItem\"].parameter[\"values\"][\"string\"][0]]}}",
        "extractionValues": {
          "values": [
            {
              "key": "price",
              "cssSelector": "a",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        880,
        1420
      ],
      "id": "4cfda7a3-86bd-4202-8194-06ee0eb025ca"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        280,
        1440
      ],
      "notesInFlow": true,
      "alwaysOutputData": true,
      "id": "1ddfbea7-5ae5-43f6-b8c2-f5856e534fda"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": true,
              "value2": "={{$node[\"SplitInBatches\"].context[\"noItemsLeft\"]}}"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        1440
      ],
      "id": "32f7499f-06d3-4ec3-baa0-3356a3e85a83"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "=item",
              "value": "={{$node[\"SplitInBatches\"].json[\"textHtml\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "SetHTMLItem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        660,
        1420
      ],
      "id": "77946382-7d3f-4a4e-8d5e-d1ae6279f870"
    },
    {
      "parameters": {
        "collection": "inbox",
        "options": {
          "limit": 10
        }
      },
      "name": "MongoDB2",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        280,
        1720
      ],
      "id": "0fff6015-14d5-464a-b7cf-b824e9603167",
      "credentials": {
        "mongoDb": {
          "id": "4",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "dataPropertyName": "={{$node[\"MongoDB2\"].json[\"textHtml\"]}}",
        "extractionValues": {
          "values": [
            {
              "key": "price",
              "cssSelector": "a",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "name": "HTML Extract1",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        680,
        1720
      ],
      "id": "166d4442-e15f-4e02-b4bb-8dc33322e03a"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "inbox",
        "fields": "x-originating-ip,from,subject,to,textHtml,metadata",
        "options": {
          "dateFields": "date"
        }
      },
      "name": "T_InsertIMAPMongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        520,
        800
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "id": "a98bd37d-e07d-4ea7-a294-c225fa79bdce",
      "credentials": {
        "mongoDb": {
          "id": "4",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "postProcessAction": "nothing",
        "options": {
          "allowUnauthorizedCerts": true,
          "forceReconnect": 60
        }
      },
      "name": "T_IMAP_Email",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 1,
      "position": [
        300,
        800
      ],
      "notesInFlow": true,
      "alwaysOutputData": true,
      "id": "8de8c273-d185-431b-a1d7-c74ee920f7bb",
      "credentials": {
        "imap": {
          "id": "3",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {},
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1580,
        940
      ],
      "notesInFlow": true,
      "alwaysOutputData": true,
      "id": "8e9e37d1-2285-411c-ae88-295a90454dd7"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"from\"]}}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "usuarios.inmuebles24.com"
            },
            {
              "operation": "contains",
              "value2": "lamudi.com.mx",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "solicitudes.icasas.mx",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "name": "T_Switch_Host",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        880,
        800
      ],
      "notesInFlow": true,
      "alwaysOutputData": true,
      "id": "edd1b2e3-a461-45ba-b2f7-b20291513c50"
    },
    {
      "parameters": {
        "dataPropertyName": "textHtml",
        "extractionValues": {
          "values": [
            {
              "key": "name",
              "cssSelector": "body > div > table:nth-child(2) > tbody > tr:nth-child(2) > td > table > tbody > tr:nth-child(4) > td > div:nth-child(2) > span:nth-child(2)"
            },
            {
              "key": "phone",
              "cssSelector": "body > div > table:nth-child(2) > tbody > tr:nth-child(2) > td > table > tbody > tr:nth-child(4) > td > div:nth-child(3) > span:nth-child(2)"
            },
            {
              "key": "email",
              "cssSelector": "body > div > table:nth-child(2) > tbody > tr:nth-child(2) > td > table > tbody > tr:nth-child(4) > td > div:nth-child(4) > a"
            },
            {
              "key": "external_code",
              "cssSelector": "body > div > table:nth-child(2) > tbody > tr:nth-child(2) > td > table > tbody > tr:nth-child(1) > td > span:nth-child(1) > span:nth-child(2)"
            },
            {
              "key": "reference_code",
              "cssSelector": "body > div > table:nth-child(2) > tbody > tr:nth-child(2) > td > table > tbody > tr:nth-child(1) > td > span.stack-column.codigo-anunciante-mobile > span.codigo-anunciante-mobile-value"
            },
            {
              "key": "price",
              "cssSelector": "body > div > table:nth-child(2) > tbody > tr:nth-child(1) > td > table > tbody > tr > td > div.stack-column.right-card-div-mobile > table > tbody > tr:nth-child(2) > td:nth-child(1) > a > span:nth-child(1)"
            },
            {
              "key": "settlement",
              "cssSelector": "body > div > table:nth-child(2) > tbody > tr:nth-child(1) > td > table > tbody > tr > td > div.stack-column.right-card-div-mobile > table > tbody > tr:nth-child(2) > td:nth-child(3) > a > span:nth-child(1)"
            },
            {
              "key": "county_state",
              "cssSelector": "body > div > table:nth-child(2) > tbody > tr:nth-child(1) > td > table > tbody > tr > td > div.stack-column.right-card-div-mobile > table > tbody > tr:nth-child(2) > td:nth-child(3) > a > span:nth-child(2)"
            },
            {
              "key": "operation",
              "cssSelector": "body > div > table:nth-child(2) > tbody > tr:nth-child(1) > td > table > tbody > tr > td > div.stack-column.right-card-div-mobile > table > tbody > tr:nth-child(5) > td.element-tipoProp > a > span > span:nth-child(1)"
            },
            {
              "key": "type",
              "cssSelector": "body > div > table:nth-child(2) > tbody > tr:nth-child(1) > td > table > tbody > tr > td > div.stack-column.right-card-div-mobile > table > tbody > tr:nth-child(5) > td.element-tipoProp > a > span > span:nth-child(3)"
            },
            {
              "key": "message",
              "cssSelector": "<div style=\"display:inline-block;width:100%;padding-top:8px;font-family:Arial;font-style:normal;font-weight:normal;font-size:12px;line-height:18px;color:#000000;\">Hola, me interesa este inmueble que vi en Inmuebles24 y quiero que me contacten. Gracias.</div>"
            },
            {
              "key": "link",
              "cssSelector": "body > div > table:nth-child(2) > tbody > tr:nth-child(1) > td > table > tbody > tr > td > div.stack-column.right-card-div-mobile > table > tbody > tr:nth-child(5) > td.center-on-narrow.block-verAviso > a",
              "returnValue": "attribute",
              "attribute": "href"
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "name": "T_HTMLExtract_i24",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        1580,
        -240
      ],
      "notesInFlow": true,
      "alwaysOutputData": true,
      "id": "4f9f5b41-696f-4e4a-96a3-f25de2bed66e"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "contacts",
        "fields": "origin,name,phone,email,type,operation,external_code,reference_code,price,settlement,county,state,message,link,date",
        "options": {
          "dateFields": "date"
        }
      },
      "name": "T_insert_contact_mongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2280,
        100
      ],
      "notesInFlow": true,
      "alwaysOutputData": true,
      "id": "ae482bb1-48e7-4edf-8fe3-6384016a6068",
      "credentials": {
        "mongoDb": {
          "id": "4",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "dataPropertyName": "textHtml",
        "extractionValues": {
          "values": [
            {
              "key": "phone",
              "cssSelector": "#contact_lead_phone",
              "returnValue": "html"
            },
            {
              "key": "reference_code",
              "cssSelector": "#contact_lead_object_id",
              "returnValue": "html"
            },
            {
              "key": "settlement_county_state",
              "cssSelector": "body > table:nth-child(4) > tbody > tr > td > table.tron > tbody > tr > td > table:nth-child(1) > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr:nth-child(2) > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table:nth-child(3) > tbody > tr:nth-child(2) > td > span > span:nth-child(2)"
            },
            {
              "key": "link",
              "cssSelector": "body > table:nth-child(4) > tbody > tr > td > table.tron > tbody > tr > td > table:nth-child(1) > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr:nth-child(2) > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table:nth-child(3) > tbody > tr:nth-child(1) > td > a",
              "returnValue": "attribute",
              "attribute": "href"
            },
            {
              "key": "type_operation_settlement",
              "cssSelector": "body > table:nth-child(4) > tbody > tr > td > table.tron > tbody > tr > td > table:nth-child(1) > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr:nth-child(2) > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table:nth-child(3) > tbody > tr:nth-child(1) > td > a"
            }
          ]
        },
        "options": {}
      },
      "name": "T_HTMLExtract_lamudi",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        1580,
        -60
      ],
      "alwaysOutputData": true,
      "id": "1c652880-6b9d-457e-b43d-f0a766827168"
    },
    {
      "parameters": {
        "collection": "inbox",
        "options": {},
        "query": "{ \"from\": {\"$not\": \"nmuebles24\"}}"
      },
      "name": "Search_lamudi_MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        280,
        1120
      ],
      "id": "a912c943-f72a-403f-aec7-67bdfb8f207b",
      "credentials": {
        "mongoDb": {
          "id": "4",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "dataPropertyName": "textHtml",
        "extractionValues": {
          "values": [
            {
              "key": "name",
              "cssSelector": "input[name=\"contactName\"]",
              "returnValue": "value"
            },
            {
              "key": "phone",
              "cssSelector": "input[name=\"contactPhone\"]",
              "returnValue": "value"
            },
            {
              "key": "email",
              "cssSelector": "input[name=\"contactEmail\"]",
              "returnValue": "value"
            },
            {
              "key": "type_operation_settlement",
              "cssSelector": "#templateBody > table.mcnTextBlock > tbody > tr > td > table > tbody > tr > td > div > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(1) > td > div > div > b:nth-child(1) > a"
            },
            {
              "key": "external_code",
              "cssSelector": "input[name=\"contactClassifiedId\"]"
            },
            {
              "key": "reference_code",
              "cssSelector": "input[name=\"contactCode\"]",
              "returnValue": "value"
            },
            {
              "key": "county_state",
              "cssSelector": "#templateBody > table.mcnTextBlock > tbody > tr > td > table > tbody > tr > td > div > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(1) > td > div > div > b:nth-child(2)"
            },
            {
              "key": "message",
              "cssSelector": "input[name=\"contactMessage\"]",
              "returnValue": "value"
            },
            {
              "key": "link",
              "cssSelector": "input[name=\"contactClassifiedUrl\"]",
              "returnValue": "value"
            }
          ]
        },
        "options": {}
      },
      "name": "T_HTMLExtract_icasas",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        1580,
        100
      ],
      "alwaysOutputData": true,
      "id": "d0ee3a5e-662f-4d59-aa8b-8bf318d281b1"
    },
    {
      "parameters": {
        "dataPropertyName": "textHtml",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "#templateContent > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(1) > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > span > b"
            }
          ]
        },
        "options": {}
      },
      "name": "T_HTMLExtract_meli",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        1580,
        280
      ],
      "alwaysOutputData": true,
      "id": "6bf90abd-71be-49ac-98dd-f6e524a87cd5"
    },
    {
      "parameters": {
        "dataPropertyName": "textHtml",
        "options": {}
      },
      "name": "T_HTMLExtract_viva",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        1580,
        640
      ],
      "alwaysOutputData": true,
      "id": "b437642c-b3c0-4998-a533-73a39882f5d7"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "quoted-printable",
              "value2": "={{$json[\"metadata\"][\"content-transfer-encoding\"]}}"
            }
          ]
        }
      },
      "name": "T_IF_quoted-printable",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        480,
        1140
      ],
      "id": "9682182f-7cd9-4aa7-b48d-b9a48801e4f4"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"from\"]}}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "mercadolibre.com"
            },
            {
              "operation": "contains",
              "value2": "vivanuncios.com.mx",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 3
      },
      "name": "T_Switch_Host_2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1160,
        820
      ],
      "id": "4982f3c3-be3a-4145-9062-75df4a9f7f4a"
    },
    {
      "parameters": {
        "functionCode": "// Code here will run once per input item.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.functionItem\n\n// Add a new field called 'myNewField' to the JSON of the item\nconst price = Number((item?.price ?? '').replace(/[^0-9\\.-]+/g,\"\")); //(item?.price ?? '').replace('$','').replace(',','').replace(',','').replace(',','').trim();\nconst county_state_items = item?.county_state.split(',');\nitem.settlement = (item?.settlement ?? '').trim();\nitem.county = (county_state_items[0] ?? '').trim();\nitem.state = (county_state_items.length > 1 ? county_state_items[1] : '').trim();\nitem.date = new Date();\n\nconst newItem = {\n  date: new Date(),\n  origin: 'i24',\n  name: item?.name ?? '',\n  phone: item?.phone ?? '',\n  email: item?.email ?? '',\n  type: item?.type ?? '',\n  operation: item?.operation ?? '',\n  external_code: item?.external_code ?? '',\n  reference_code: item?.reference_code ?? '',\n  price: price,\n  settlement: item?.settlement ?? '',\n  county: item?.county ?? '',\n  state: item?.state ?? '',\n  message: item?.message ?? '',\n  link: item?.link ?? ''\n}\n\nreturn newItem;"
      },
      "name": "T_i24_contact",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        1760,
        -240
      ],
      "alwaysOutputData": true,
      "id": "f9cb5989-0b62-425b-938d-649da1b5aa6f"
    },
    {
      "parameters": {
        "functionCode": "// Code here will run once per input item.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.functionItem\n\n// Add a new field called 'myNewField' to the JSON of the item\n//const price = Number((item?.price ?? '').replace(/[^0-9\\.-]+/g,\"\")); //(item?.price ?? '').replace('$','').replace(',','').replace(',','').replace(',','').trim();\nconst county_state_items = (item?.county_state ?? '').split(',');\nconst type_operation_settlement_items = (item?.type_operation_settlement ?? '').split(' en ');\nitem.type = (type_operation_settlement_items[0] ?? '').trim();\nitem.operation = (type_operation_settlement_items[1] ?? '').trim();\n\nitem.settlement = (type_operation_settlement_items[2] ?? '').trim();\nitem.county = (county_state_items[0] ?? '').trim();\nitem.state = (county_state_items.length > 1 ? county_state_items[1] : '').trim();\nitem.date = new Date();\n\nconst newItem = {\n  date: new Date(),\n  origin: 'icasas',\n  name: item?.name ?? '',\n  phone: item?.phone ?? '',\n  email: item?.email ?? '',\n  type: item?.type ?? '',\n  operation: item?.operation ?? '',\n  external_code: item?.external_code ?? '',\n  reference_code: item?.reference_code ?? '',\n  price: 0,\n  settlement: item?.settlement ?? '',\n  county: item?.county ?? '',\n  state: item?.state ?? '',\n  message: item?.message ?? '',\n  link: item?.link ?? ''\n}\n\nreturn newItem;"
      },
      "name": "T_icasas_contact",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        1760,
        100
      ],
      "alwaysOutputData": true,
      "id": "69c3e305-73ca-48d9-abae-5d790466f942"
    },
    {
      "parameters": {
        "url": "={{$json[\"link\"]}}",
        "allowUnauthorizedCerts": true,
        "responseFormat": "string",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1240,
        100
      ],
      "id": "7549df67-95a4-4bab-99f3-95cecbcea8e9"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "price",
              "cssSelector": "#body > div.container-body.detail.payment > div.priceChars > div > h2"
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "name": "HTML Extract2",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        1380,
        100
      ],
      "id": "fb03d9af-6dad-4918-88e0-e795e2684b95"
    },
    {
      "parameters": {
        "functionCode": "// Code here will run once per input item.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.functionItem\n\n// Add a new field called 'myNewField' to the JSON of the item\n//const price = Number((item?.price ?? '').replace(/[^0-9\\.-]+/g,\"\")); //(item?.price ?? '').replace('$','').replace(',','').replace(',','').replace(',','').trim();\nconst phone_items = (item?.phone ?? '').replace('+','').split('<br>');\nconst state_county_settlement_items = (item?.settlement_county_state ?? '').split(',');\nconst type_operation_items = (item?.type_operation ?? '').split(' en ');\n\nitem.phone = (phone_items[0] ?? '').trim();\nitem.type = (type_operation_items[0] ?? '').trim();\nitem.operation = (type_operation_items[1] ?? '').trim();\n\nitem.settlement = (state_county_settlement_items[2] ?? '').trim();\nitem.county = (state_county_settlement_items[1] ?? '').trim();\nitem.state = (state_county_settlement_items[0] ?? '').trim();\nitem.date = new Date();\n\nconst newItem = {\n  date: new Date(),\n  origin: 'lamudi',\n  name: item?.name ?? '',\n  phone: item?.phone ?? '',\n  email: item?.email ?? '',\n  type: item?.type ?? '',\n  operation: item?.operation ?? '',\n  external_code: item?.external_code ?? '',\n  reference_code: item?.reference_code ?? '',\n  price: 0,\n  settlement: item?.settlement ?? '',\n  county: item?.county ?? '',\n  state: item?.state ?? '',\n  message: item?.message ?? '',\n  link: item?.link ?? ''\n}\n\nreturn newItem;"
      },
      "name": "T_lamudi_contact",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        1760,
        -60
      ],
      "notesInFlow": true,
      "alwaysOutputData": true,
      "id": "f33df281-263b-41f2-9231-908b14b53cb8"
    },
    {
      "parameters": {
        "interval": 12,
        "unit": "hours"
      },
      "name": "Interval",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        300,
        600
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "id": "309ea2bf-10bf-439c-b806-5510be426783"
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "inbox"
      },
      "name": "Delete_inbox_MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        560,
        480
      ],
      "id": "b6c85d31-0e3a-432d-9e1f-fcad73190253",
      "credentials": {
        "mongoDb": {
          "id": "4",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"subject\"]}}",
              "operation": "notContains",
              "value2": "Elimina los datos personales de tus publicaciones"
            }
          ]
        }
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1380,
        460
      ],
      "id": "66fe9211-46e5-4f37-8ada-86f826ded991"
    },
    {
      "parameters": {},
      "name": "NoOp3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1760,
        480
      ],
      "id": "d790a91b-fdb1-4656-9d34-9774943c29f0"
    },
    {
      "parameters": {},
      "name": "NoOp_viva",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1760,
        640
      ],
      "notesInFlow": false,
      "alwaysOutputData": true,
      "id": "30d0aac8-75df-484e-9326-e9da360acf90"
    },
    {
      "parameters": {},
      "name": "NoOp_Meli",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1760,
        280
      ],
      "alwaysOutputData": true,
      "id": "57e53970-4bd4-4077-b574-e38e7cba8c3d"
    },
    {
      "parameters": {
        "functionCode": "// Code here will run once per input item.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.functionItem\n\n// Add a new field called 'myNewField' to the JSON of the item\nitem.from = (item?.from??'').replace(/\"/g, '');\n\n// You can write logs to the browser console\nconsole.log('Done!');\n\nreturn item;"
      },
      "name": "T_Clean_Subject",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        700,
        800
      ],
      "alwaysOutputData": true,
      "id": "7068545c-c477-4fbd-955c-4a6f428a4e22",
      "continueOnFail": true
    },
    {
      "parameters": {},
      "name": "NoOp_viva1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1580,
        800
      ],
      "notesInFlow": true,
      "alwaysOutputData": true,
      "id": "347483ec-004d-439a-b6b7-b562bcb6e6ba"
    },
    {
      "parameters": {},
      "name": "NoOp1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1580,
        -420
      ],
      "id": "4f3af552-86f8-4e3e-a0d4-a54b16d23dac"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{!!$json?.textHtml }}",
              "value2": "={{true}}"
            }
          ]
        }
      },
      "name": "IF_Contain_HTML",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1300,
        -240
      ],
      "id": "7c8eca72-5412-469f-83e5-f93e03bebfd9"
    },
    {
      "parameters": {
        "content": "## Parsers\n",
        "height": 1660,
        "width": 920
      },
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1140,
        -480
      ],
      "id": "f30b07fc-1c01-47b3-be8c-335c297f75be"
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Trash - IMAP attachment": {},
    "node:T_IMAP_Email": {
      "lastMessageUid": 3752046
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2023-01-22T01:31:23.000Z",
  "versionId": "10636fd1-a39b-40b8-84a1-2df8897e4ae7"
}