workflows/JorgeligLabs-espocrm.json
{
  "active": true,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "contact_list",
            "type": "main",
            "index": 0
          },
          {
            "node": "account_list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact create/update": {
      "main": [
        [
          {
            "node": "create_account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_account": {
      "main": [
        [
          {
            "node": "create_contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_contact": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-01-18T05:09:00.077Z",
  "id": "49",
  "name": "JorgeligLabs-espocrm",
  "nodes": [
    {
      "parameters": {
        "content": "63510a6d708acc9530bd4a9b2719f64d",
        "height": 82,
        "width": 345
      },
      "id": "43027e53-c503-4cda-8df3-63693b1e54e2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        100
      ]
    },
    {
      "parameters": {},
      "id": "b87c846c-aa24-4cc3-87ad-9fdbc9ba2bfd",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        320,
        240
      ]
    },
    {
      "parameters": {
        "url": "https://espocrm.jorgeliglabs.com/api/v1/contact",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "63510a6d708acc9530bd4a9b2719f64d"
            }
          ]
        },
        "options": {}
      },
      "id": "28ec4ae8-541e-40c8-8ef1-c39aa2bb0686",
      "name": "contact_list",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://espocrm.jorgeliglabs.com/api/v1/account",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "63510a6d708acc9530bd4a9b2719f64d"
            }
          ]
        },
        "options": {}
      },
      "id": "a3ef117c-8c69-421a-9f9a-841c63f4b83f",
      "name": "account_list",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ed9bc8ab-960a-4091-8d0a-f11e67c26685",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1000936c-d706-4a91-8f2f-e2472bb25361",
      "name": "Contact create/update",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        320,
        560
      ],
      "webhookId": "ed9bc8ab-960a-4091-8d0a-f11e67c26685"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"contact_id\": \"{{ $json[\"id\"] }}\"} ",
        "options": {}
      },
      "id": "c490f981-6f03-425e-b923-89886e132eba",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1260,
        560
      ]
    },
    {
      "parameters": {
        "url": "https://espocrm.jorgeliglabs.com/api/v1/targetList",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "63510a6d708acc9530bd4a9b2719f64d"
            }
          ]
        },
        "options": {}
      },
      "id": "d84899f8-452a-4852-84e3-8f6d09d3db80",
      "name": "account_list1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        920,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://espocrm.jorgeliglabs.com/api/v1/Account",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "63510a6d708acc9530bd4a9b2719f64d"
            },
            {
              "name": "X-Skip-Duplicate-Check",
              "value": "true"
            },
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json[\"body\"][\"business_name\"] }}"
            },
            {
              "name": "emailAddress",
              "value": "={{ $json[\"body\"][\"email\"] }}"
            },
            {
              "name": "assignedUserId",
              "value": "1"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "c9818e06-b5c1-4096-8e2b-bae2d2f809af",
      "name": "create_account",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        520,
        560
      ],
      "notesInFlow": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://espocrm.jorgeliglabs.com/api/v1/contact",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "63510a6d708acc9530bd4a9b2719f64d"
            },
            {
              "name": "X-Skip-Duplicate-Check",
              "value": "true"
            },
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "emailAddress",
              "value": "={{ $node[\"Contact create/update\"].json[\"body\"][\"email\"] }}"
            },
            {
              "name": "=firstName",
              "value": "={{ $node[\"Contact create/update\"].json[\"body\"][\"name\"] }}"
            },
            {
              "name": "phoneNumber",
              "value": "={{ $node[\"Contact create/update\"].json[\"body\"][\"phone\"] }}"
            },
            {
              "name": "lastName",
              "value": " "
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "3d6fa21f-0f3b-433f-869d-c25b94da872b",
      "name": "create_contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        740,
        560
      ],
      "notesInFlow": false,
      "alwaysOutputData": true
    }
  ],
  "pinData": {
    "account_list": [
      {
        "json": {
          "total": 2,
          "list": [
            {
              "id": "63c786ac314a18a0e",
              "name": "Café C10",
              "deleted": false,
              "website": "www.facebook.com/www.cafec10.com.mx",
              "emailAddress": "cafec10.oaxaca@gmail.com",
              "phoneNumber": null,
              "type": null,
              "industry": null,
              "sicCode": null,
              "billingAddressStreet": null,
              "billingAddressCity": null,
              "billingAddressState": null,
              "billingAddressCountry": null,
              "billingAddressPostalCode": null,
              "shippingAddressStreet": null,
              "shippingAddressCity": null,
              "shippingAddressState": null,
              "shippingAddressCountry": null,
              "shippingAddressPostalCode": null,
              "description": null,
              "createdAt": "2023-01-18 05:42:04",
              "modifiedAt": "2023-01-18 05:42:04",
              "emailAddressIsOptedOut": false,
              "emailAddressIsInvalid": false,
              "phoneNumberIsOptedOut": null,
              "phoneNumberIsInvalid": null,
              "campaignId": null,
              "campaignName": null,
              "createdById": "1",
              "createdByName": "Admin",
              "modifiedById": null,
              "modifiedByName": null,
              "assignedUserId": "1",
              "assignedUserName": "Admin",
              "originalLeadId": null,
              "originalLeadName": null
            },
            {
              "id": "63c7862e93ec0f17e",
              "name": "AROMA Tisanas",
              "deleted": false,
              "website": "www.facebook.com/aromatisanas",
              "emailAddress": null,
              "phoneNumber": "55 4660 2872",
              "type": null,
              "industry": null,
              "sicCode": null,
              "billingAddressStreet": null,
              "billingAddressCity": null,
              "billingAddressState": null,
              "billingAddressCountry": null,
              "billingAddressPostalCode": null,
              "shippingAddressStreet": null,
              "shippingAddressCity": null,
              "shippingAddressState": null,
              "shippingAddressCountry": null,
              "shippingAddressPostalCode": null,
              "description": null,
              "createdAt": "2023-01-18 05:39:58",
              "modifiedAt": "2023-01-18 05:40:58",
              "emailAddressIsOptedOut": null,
              "emailAddressIsInvalid": null,
              "phoneNumberIsOptedOut": false,
              "phoneNumberIsInvalid": false,
              "campaignId": null,
              "campaignName": null,
              "createdById": "1",
              "createdByName": "Admin",
              "modifiedById": "1",
              "modifiedByName": "Admin",
              "assignedUserId": null,
              "assignedUserName": null,
              "originalLeadId": null,
              "originalLeadName": null
            }
          ]
        }
      }
    ],
    "contact_list": [
      {
        "json": {
          "total": 2,
          "list": [
            {
              "id": "63c71f065a963e96a",
              "name": "Paola González",
              "deleted": false,
              "salutationName": null,
              "firstName": "Paola",
              "lastName": "González",
              "title": null,
              "description": null,
              "emailAddress": null,
              "phoneNumber": "55 4660 2872",
              "doNotCall": false,
              "addressStreet": null,
              "addressCity": null,
              "addressState": null,
              "addressCountry": null,
              "addressPostalCode": null,
              "accountIsInactive": null,
              "accountType": null,
              "createdAt": "2023-01-17 22:19:50",
              "modifiedAt": "2023-01-18 05:39:52",
              "hasPortalUser": false,
              "facebookFanPage": "https://www.facebook.com/aromatisanas",
              "facebookProfileUrl": "https://www.facebook.com/paoglezsanz",
              "middleName": null,
              "emailAddressIsOptedOut": null,
              "emailAddressIsInvalid": null,
              "phoneNumberIsOptedOut": false,
              "phoneNumberIsInvalid": false,
              "accountId": null,
              "accountName": null,
              "campaignId": null,
              "campaignName": null,
              "createdById": "1",
              "createdByName": "Admin",
              "modifiedById": "1",
              "modifiedByName": "Admin",
              "assignedUserId": null,
              "assignedUserName": null,
              "portalUserId": null,
              "portalUserName": null,
              "originalLeadId": null,
              "originalLeadName": null
            },
            {
              "id": "63c71ecca3c4f48b0",
              "name": "Café C10",
              "deleted": false,
              "salutationName": "Mr.",
              "firstName": "Café",
              "lastName": "C10",
              "title": null,
              "description": null,
              "emailAddress": "cafec10.oaxaca@gmail.com",
              "phoneNumber": "951 241 6847",
              "doNotCall": false,
              "addressStreet": null,
              "addressCity": null,
              "addressState": null,
              "addressCountry": null,
              "addressPostalCode": null,
              "accountIsInactive": false,
              "accountType": null,
              "createdAt": "2023-01-17 22:18:52",
              "modifiedAt": "2023-01-18 05:42:12",
              "hasPortalUser": false,
              "facebookFanPage": "https://www.facebook.com/www.cafec10.com.mx/",
              "facebookProfileUrl": null,
              "middleName": null,
              "emailAddressIsOptedOut": false,
              "emailAddressIsInvalid": false,
              "phoneNumberIsOptedOut": false,
              "phoneNumberIsInvalid": false,
              "accountId": "63c786ac314a18a0e",
              "accountName": "Café C10",
              "campaignId": null,
              "campaignName": null,
              "createdById": "1",
              "createdByName": "Admin",
              "modifiedById": "1",
              "modifiedByName": "Admin",
              "assignedUserId": null,
              "assignedUserName": null,
              "portalUserId": null,
              "portalUserName": null,
              "originalLeadId": null,
              "originalLeadName": null
            }
          ]
        }
      }
    ],
    "Contact create/update": [
      {
        "json": {
          "headers": {
            "host": "n8n.jorgeliglabs.com",
            "user-agent": "got (https://github.com/sindresorhus/got)",
            "content-length": "151",
            "accept-encoding": "gzip, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n.jorgeliglabs.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "c64d13edc8e4",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "Jorge",
            "email": "jorgeligg@gmail.com",
            "phone": "8114117118",
            "is_mobile": "Si",
            "business_name": "Jorges",
            "msg": "Pues no se en que me pueda ayudar"
          }
        }
      }
    ],
    "create_contact": [
      {
        "json": {
          "id": "63cc74b657fa75ec9",
          "name": "Jorge  ",
          "deleted": false,
          "firstName": "Jorge",
          "lastName": " ",
          "emailAddress": "jorgeligg@gmail.com",
          "phoneNumber": "8114117118",
          "doNotCall": false,
          "accountIsInactive": false,
          "createdAt": "2023-01-21 23:26:46",
          "modifiedAt": "2023-01-21 23:26:46",
          "hasPortalUser": false,
          "targetListIsOptedOut": false,
          "emailAddressIsOptedOut": false,
          "emailAddressIsInvalid": false,
          "phoneNumberIsOptedOut": false,
          "phoneNumberIsInvalid": false,
          "emailAddressData": [
            {
              "emailAddress": "jorgeligg@gmail.com",
              "lower": "jorgeligg@gmail.com",
              "primary": true,
              "optOut": false,
              "invalid": false
            }
          ],
          "phoneNumberData": [
            {
              "phoneNumber": "8114117118",
              "type": "Mobile",
              "primary": true,
              "optOut": false,
              "invalid": false
            }
          ],
          "accountsIds": [],
          "accountsNames": {},
          "accountsColumns": {},
          "createdById": "63c77f2a45a9d6b6f",
          "teamsIds": [],
          "teamsNames": {},
          "isFollowed": false,
          "followersIds": [],
          "followersNames": {}
        }
      }
    ],
    "create_account": [
      {
        "json": {
          "id": "63cc752380c6d006b",
          "name": "Jorges",
          "deleted": false,
          "emailAddress": "jorgeligg@gmail.com",
          "contactIsInactive": false,
          "createdAt": "2023-01-21 23:28:35",
          "modifiedAt": "2023-01-21 23:28:35",
          "targetListIsOptedOut": false,
          "emailAddressIsOptedOut": false,
          "emailAddressIsInvalid": false,
          "phoneNumberIsOptedOut": false,
          "phoneNumberIsInvalid": false,
          "emailAddressData": [
            {
              "emailAddress": "jorgeligg@gmail.com",
              "lower": "jorgeligg@gmail.com",
              "primary": true,
              "optOut": false,
              "invalid": false
            }
          ],
          "phoneNumberData": [],
          "createdById": "63c77f2a45a9d6b6f",
          "assignedUserId": "1",
          "assignedUserName": "Jorge Estrada",
          "teamsIds": [],
          "teamsNames": {},
          "isFollowed": false,
          "followersIds": [
            "1"
          ],
          "followersNames": {
            "1": "Jorge Estrada"
          }
        }
      }
    ]
  },
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "id": "2",
      "createdAt": "2023-01-09T16:02:04.001Z",
      "updatedAt": "2023-01-09T16:02:04.001Z",
      "name": "jorgeliglabs"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-02-06T04:26:14.000Z",
  "versionId": "e3957915-12a0-4c3a-ad39-8ba9d3411b66"
}