workflows/JorgeligLabs - chatwoot webhooks.json
{
  "active": true,
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "SetAirTableId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FunctionItem": {
      "main": [
        [
          {
            "node": "Respond_GetName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetAirTableId": {
      "main": [
        [
          {
            "node": "FunctionItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_GetName": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_SaveDate": {
      "main": [
        [
          {
            "node": "Respond_SaveDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Events": {
      "main": [
        [
          {
            "node": "Respond_SaveDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-08-01T07:32:44.961Z",
  "id": "28",
  "name": "JorgeligLabs - chatwoot webhooks",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "57e27e4f-a42f-49d5-b85b-3e62d0844a86"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "content",
              "value": "={{ $json[\"body\"][\"content\"] }}"
            },
            {
              "name": "source_id",
              "value": "={{ $json[\"body\"][\"conversation\"][\"contact_inbox\"][\"source_id\"] }}"
            },
            {
              "name": "name",
              "value": "={{ $json[\"body\"][\"conversation\"][\"messages\"][0][\"sender\"][\"name\"] }}"
            },
            {
              "name": "contact_phone_number",
              "value": "={{ $json[\"body\"][\"conversation\"][\"messages\"][0][\"sender\"][\"phone_number\"] }}"
            },
            {
              "name": "contact_id",
              "value": "={{ $json[\"body\"][\"conversation\"][\"meta\"][\"sender\"][\"id\"] }}"
            },
            {
              "name": "assignee_id",
              "value": "={{ $json[\"body\"][\"conversation\"][\"meta\"][\"assignee\"][\"id\"] }}"
            },
            {
              "name": "assignee_name",
              "value": "={{ $json[\"body\"][\"conversation\"][\"meta\"][\"assignee\"][\"name\"] }}"
            },
            {
              "name": "event",
              "value": "={{ $json[\"body\"][\"event\"] }}"
            },
            {
              "name": "message_type",
              "value": "={{ $json[\"body\"][\"conversation\"][\"messages\"][0][\"message_type\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "1ed936f1-0aac-4900-b868-c42d13aeb379",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        420,
        140
      ]
    },
    {
      "parameters": {
        "operation": "list",
        "application": "app9ApkqZNXJmFgxx",
        "table": "appointments",
        "additionalOptions": {
          "fields": [],
          "filterByFormula": "={mobile_phone} = \"{{$node[\"Webhook_GetName\"].json[\"body\"][\"mobile_phone\"]}}\""
        }
      },
      "id": "e08b23c9-c0d5-4c3c-b53c-511443dd0af0",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        920,
        120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableApi": {
          "id": "1",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Code here will run once per input item.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.functionItem\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n\n// Add a new field called 'myNewField' to the JSON of the item\nitem.myNewField = 1;\n\nconst response = {\n  name: item?.fields?.Name,\n  mobile_phone: item?.fields?.mobile_phone,\n  id: item.id\n};\n\nreturn response;"
      },
      "id": "49630cd5-058f-4304-957c-9e134c98bd55",
      "name": "FunctionItem",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        1340,
        120
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "airtable_id",
              "value": "={{ $json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ebf0bcf6-d4d7-44ab-9271-70276b35203b",
      "name": "SetAirTableId",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1120,
        120
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "128c24d3-3899-4fa8-824b-b7c5d3173728",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6616cc7c-c1b8-4637-9a3c-d1c1fd135663",
      "name": "Webhook_GetName",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        140
      ],
      "webhookId": "128c24d3-3899-4fa8-824b-b7c5d3173728",
      "notesInFlow": true,
      "notes": "Nombre "
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c7633d6b-2516-44a6-9b42-12d6a38877bb",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bd6b0bf6-79fb-40f1-a16e-0cb9591d0e0f",
      "name": "Webhook_SaveDate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        -140
      ],
      "webhookId": "c7633d6b-2516-44a6-9b42-12d6a38877bb"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "07c0c438-c951-467b-bdd1-241d64af7f88",
      "name": "Respond_GetName",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1520,
        120
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cb809507-785a-4f18-a777-7dafaf618fa5",
      "name": "Respond_SaveDate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        -220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"event\"] }}",
              "value2": "message_created"
            }
          ]
        }
      },
      "id": "b9dbeb6e-5164-49b8-91a7-a722be7c6443",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        140
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e37b1961-e3a4-4345-a743-90ec973cd81d",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "65582d72-2c2b-4297-88d6-80af1c5942cf",
      "name": "Webhook Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        -300
      ],
      "webhookId": "e37b1961-e3a4-4345-a743-90ec973cd81d"
    }
  ],
  "pinData": {
    "Set": [
      {
        "json": {
          "content": "Confirmar",
          "source_id": "5218114117118",
          "name": "Jorge Estrada",
          "contact_phone_number": "+528114117118",
          "contact_id": 75,
          "assignee_id": 2,
          "assignee_name": "Jorge Luis Estrada Sanchez",
          "event": "message_created",
          "message_type": 0
        }
      }
    ],
    "Airtable": [
      {
        "json": {
          "id": "receiLV8O9HW3pnCW",
          "createdTime": "2022-09-14T06:17:06.000Z",
          "fields": {
            "Name": "Jorge Estrada",
            "mobile_phone": "528114117118"
          }
        }
      }
    ],
    "Webhook_GetName": [
      {
        "json": {
          "headers": {
            "host": "n8n.jorgeliglabs.com",
            "user-agent": "PostmanRuntime/7.29.2",
            "content-length": "38",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "content-type": "application/json",
            "postman-token": "77246c25-448d-4bd8-a822-ab97a29ede03",
            "x-forwarded-for": "187.162.244.93",
            "x-forwarded-host": "n8n.jorgeliglabs.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e4f113615e86",
            "x-real-ip": "187.162.244.93"
          },
          "params": {},
          "query": {},
          "body": {
            "mobile_phone": "528113756435"
          }
        }
      }
    ]
  },
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "id": "2",
      "createdAt": "2023-01-09T16:02:04.001Z",
      "updatedAt": "2023-01-09T16:02:04.001Z",
      "name": "jorgeliglabs"
    }
  ],
  "triggerCount": 3,
  "updatedAt": "2023-02-06T04:26:14.000Z",
  "versionId": "f2e7af25-a7d7-4f2a-9186-df7d8b2cfab0"
}