workflows/moovly.json
{
  "active": false,
  "connections": {
    "users/me": {
      "main": [
        [
          {
            "node": "Set ME values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-Create": {
      "main": [
        [
          {
            "node": "TransformDetails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Simulate-Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-04-18T00:25:08.629Z",
  "id": "4",
  "name": "moovly",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        60,
        -40
      ],
      "id": "3511a640-c0e3-4492-a753-4d376b832742"
    },
    {
      "parameters": {
        "url": "https://api.moovly.com/user/v1/users/me",
        "allowUnauthorizedCerts": true,
        "responseFormat": "string",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJNb292bHkiLCJhdWQiOiJwZXJzb25hbC1hY2Nlc3MtdG9rZW5zIiwianRpIjoiZjcyMWRmYzU4ZmIyODAwMzI4Mzk2M2Q1ZTE4YWM4NjhiODBhZjgxZTEwYzQxMTIyNzAwNTg5MzllYjNiMzFkNjgyYzRjM2EyMzA0MjQyYWQiLCJpYXQiOjE2NTAyNDEzNjQuNjk2MTcsImV4cCI6MTY4MTc3NzM2NC42ODU1NjIsInN1YiI6IjdjNDI2ZWMzLTEyMWUtNDY3ZC04YzQyLTc5NzRjMGFhMzMwOSIsInVzZXJfaWQiOjEzOTMwNDgxMzcsInJvbGVzIjpbIlJPTEVfUEVSU09OQUxfQUNDRVNTX1RPS0VOIl19.rwdhjsLYMHVPztk0_R6DEYPaxuRVAnkT9_T9JuDu2HgyuLzBapMWwZfPW6C0-Qg3QHHNjLWcrC8mU2-qk9ovtD01fbFNQECqLdU6078Us4t-x5Qd8f01j0iixhwUH_Hf0XKjKcK5QTPtiAv9dGfMx6L3SPRmuA0vFSuNd8cdGgWDFd91wHcitEjmXqawMj-j_Ya41oNammbUpntempevlDZovbx4b-c2WQCF0SPBhP_saRrRS_9v3qLiL6Ksu-D_UmKf_s_PuBQ4fuz9RY9fvrgraWmhoEn4HVE_tBD50-g2s_KSXiamOeGgypLcRUBhswdPm_NwSqUqlXBNhjn7Wg"
            }
          ]
        }
      },
      "name": "users/me",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        220,
        560
      ],
      "notesInFlow": true,
      "alwaysOutputData": true,
      "id": "c4019e88-aa9b-49fa-8578-88d68ad7e052"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "uuid",
              "value": "={{$json[\"data\"][\"uuid\"]}}"
            },
            {
              "name": "id",
              "value": "={{$json[\"data\"][\"id\"]}}"
            },
            {
              "name": "activeEmail",
              "value": "={{$json[\"data\"][\"activeEmail\"][\"email\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set ME values",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        400,
        560
      ],
      "notesInFlow": true,
      "alwaysOutputData": true,
      "id": "a5f19db3-df1f-4855-a227-b21997ba62cd"
    },
    {
      "parameters": {
        "functionCode": "// Code here will run once per input item.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.functionItem\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n\n// Add a new field called 'myNewField' to the JSON of the item\nconsole.log(item)\nitem.detailsHtml = '<p>' + (item?.body?.details ?? '').replace(/\\n([ \\t]*\\n)+/g, '</p><p>')\n                 .replace('\\n', '<br />') + '</p>';\n\n\n// You can write logs to the browser console\nconsole.log('Done!');\n\nreturn item;"
      },
      "name": "TransformDetails",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        460,
        140
      ],
      "notesInFlow": true,
      "alwaysOutputData": true,
      "id": "a6739b9f-5649-4c2d-8af5-0f02e36aa23e"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f4a5c7d7-48b0-4d31-aafa-295fe3f9f557",
        "options": {}
      },
      "name": "Webhook-Create",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        260,
        140
      ],
      "webhookId": "f4a5c7d7-48b0-4d31-aafa-295fe3f9f557",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "id": "ffa4dfcc-f576-4576-b219-c9556b1d4e5b"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ef9109d8-1867-4187-a866-29998e891f9f",
        "options": {}
      },
      "name": "Webhook-Callback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        260,
        300
      ],
      "webhookId": "ef9109d8-1867-4187-a866-29998e891f9f",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "id": "41a87ea7-45ae-4b1e-9378-4aef202ac315"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://n8n.jorgeliglabs.com/webhook/f4a5c7d7-48b0-4d31-aafa-295fe3f9f557",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{ \"submittedAt\": \"2022-04-18T04:09:41.474Z\", \"email\": \"hola@jorgeliglabs.com\", \"location\": \"Monterrey, NL\", \"operation\": \"En venta\", \"price\": \"$2,500,00\", \"details\": \"1 Baño 2 Recamaras\" }"
      },
      "name": "Simulate-Create",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        260,
        -40
      ],
      "id": "bf953d95-61cc-4213-a721-0316178517cb"
    }
  ],
  "pinData": null,
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2022-09-14T05:51:25.519Z",
  "versionId": "142e3a6a-86d3-46a4-a0fc-42f07d744c64"
}