workflows/oma.json
{
  "active": false,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "FunctionItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FunctionItem": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Insert_OMA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_Has_Items": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "END",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert_OMA": {
      "main": [
        [
          {
            "node": "IF_Has_Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB_Find_flightNumber": {
      "main": [
        [
          {
            "node": "IF_Not_Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_Not_Exists": {
      "main": [
        [
          {
            "node": "Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existing": {
      "main": [
        [
          {
            "node": "IF_Has_Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-06-06T03:37:20.151Z",
  "id": "16",
  "name": "oma",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "id": "7aa64ce0-4733-45f4-8df5-b4f9fd05e2bf"
    },
    {
      "parameters": {
        "url": "https://www.oma.aero/api/flighttime.php?status=both&airport=7374",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {
          "splitIntoItems": true
        }
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "id": "e6540bae-bd73-49e2-b64e-04930f1e9f36"
    },
    {
      "parameters": {
        "dataPropertyName": "airlineAbbr",
        "extractionValues": {
          "values": [
            {
              "key": "airlineAbbrImg",
              "cssSelector": "img",
              "returnValue": "attribute",
              "attribute": "src"
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        600,
        100
      ],
      "id": "a1fde68b-6a53-4b45-9d5f-8bcf87678f2d"
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        1020,
        280
      ],
      "id": "83d2ab03-fcda-4eb9-943d-1b4c4fb753d6"
    },
    {
      "parameters": {
        "functionCode": "// Code here will run once per input item.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.functionItem\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n\n// Add a new field called 'myNewField' to the JSON of the item\nitem.airlineAbbrImg = 'https://www.oma.aero' + item.airlineAbbrImg;\n\n\nreturn item;"
      },
      "name": "FunctionItem",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        840,
        100
      ],
      "id": "fa7e22cf-3eb6-43ae-84d4-ceaf0c35b7af"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "oma",
        "fields": "=table,flightTimeAdj,flightNumber,airlineAbbrImg,airlineAbbr,cityName,terminal,status",
        "options": {
          "useDotNotation": false
        }
      },
      "name": "Insert_OMA",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1440,
        280
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB_flight-tracking"
        }
      },
      "id": "47298de2-4c7c-4cf5-ba83-0558adc4282d"
    },
    {
      "parameters": {
        "collection": "oma",
        "options": {},
        "query": "={ \"flightNumber\": \"{{$json[\"flightNumber\"]}}\" }"
      },
      "name": "MongoDB_Find_flightNumber",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1440,
        -240
      ],
      "notesInFlow": true,
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB_flight-tracking"
        }
      },
      "id": "c3f3561d-a5d5-42f9-8bc6-1cfd7786a436"
    },
    {
      "parameters": {},
      "name": "Existing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1840,
        -100
      ],
      "id": "9504125a-4180-4097-8623-61a054517730"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1220,
        280
      ],
      "id": "65378ff9-fdb8-46e4-b4db-50192d4de55d"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"SplitInBatches\"].context[\"noItemsLeft\"]}}"
            }
          ]
        }
      },
      "name": "IF_Has_Items",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1680,
        280
      ],
      "id": "bb3fded1-f1bd-416e-8713-024ceeae7c28"
    },
    {
      "parameters": {},
      "name": "END",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1940,
        300
      ],
      "id": "1adc9efd-6052-436b-ad66-7afce45d7fbf"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "*/20 * * * *"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        140
      ],
      "id": "e5b4abae-79dc-468e-973e-2ef6b5b66259"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"MongoDB_Find_flightNumber\"].json[\"_id\"]}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "IF_Not_Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1580,
        -240
      ],
      "id": "a6c4073c-1754-40b1-a4c1-91c08c18d582"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "oma_items",
              "value": "={{$node[\"SplitInBatches\"].json}}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "name": "Set oma_items",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1560,
        -80
      ],
      "id": "b74ffdaa-a49d-4ad7-9bcb-4d2fd55466cb"
    },
    {
      "parameters": {
        "content": "https://es.flightaware.com/live/flight/VIV3202\n\n\nhttps://es.flightaware.com/live/fleet/VIV",
        "width": 420
      },
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        260,
        -320
      ],
      "id": "4f167a10-d283-4960-a31e-609b3ba8c173"
    }
  ],
  "pinData": null,
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-07-09T03:16:26.000Z",
  "versionId": "4ab4ccc8-3318-4e57-b66d-6f23c950404a"
}