workflows/Plick - ETL - Secciones.json
{
  "active": true,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "DynamoDB_Secciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "DynamoDB_Secciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DynamoDB_Secciones": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Parse_Seccion": {
      "main": [
        [
          {
            "node": "Postgres_PDWH_Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres_PDWH_Sections": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Code_Parse_Seccion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-21T07:23:39.252Z",
  "id": "8msrYu6FAjgVakir",
  "name": "Plick - ETL - Secciones",
  "nodes": [
    {
      "parameters": {},
      "id": "16deeccd-af5c-464e-9d52-0af8f4b59308",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -20,
        680
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "3e733b0c-da1e-4294-bd21-cefc1422efc7",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -20,
        380
      ],
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {},
      "id": "a3300d03-771a-4cc0-b8aa-3a63c45021ba",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        740,
        700
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableName": "Seccion",
        "scan": true,
        "returnAll": true,
        "options": {}
      },
      "id": "7623cac3-8ffc-43bb-a68c-154ed3809fce",
      "name": "DynamoDB_Secciones",
      "type": "n8n-nodes-base.awsDynamoDb",
      "typeVersion": 1,
      "position": [
        260,
        520
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "aws": {
          "id": "rzkj94E4pM845Mtn",
          "name": "AWS account - US-EAST-1-PROD"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json['fecha_registro'] = item.json['fecha_registro'] ? DateTime.fromFormat(item.json['fecha_registro'], 'd/M/yyyy HH:mm:ss').toSQL() : null;\nitem.json['fecha_modificacion'] = item.json['fecha_modificacion'] ? DateTime.fromFormat(item.json['fecha_modificacion'], 'd/M/yyyy HH:mm:ss').toSQL() : null;\n}\n\nreturn $input.all();"
      },
      "id": "ba438935-aca8-4f90-9815-6b08ec5e3812",
      "name": "Code_Parse_Seccion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        500
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "sections_raw",
          "mode": "list",
          "cachedResultName": "sections_raw"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "obligatorio": "={{ $json.obligatorio }}",
            "id": "={{ $json.id }}",
            "id_comercio": "={{ $json.id_comercio }}",
            "nombre": "={{ $json.nombre }}",
            "numero_de_opciones": "={{ $json.numero_de_opciones }}",
            "opciones": "={{ $json.opciones }}",
            "fecha_registro": "={{ $json.fecha_registro }}",
            "tipo": "={{ $json.tipo }}",
            "estatus": "={{ $json.estatus }}",
            "es_multiplo": "={{ $json.es_multiplo }}",
            "fecha_registro_timestamp": "={{ $json.fecha_registro_timestamp }}",
            "fecha_modificacion": "={{ $json.fecha_modificacion }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_comercio",
              "displayName": "id_comercio",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "estatus",
              "displayName": "estatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "obligatorio",
              "displayName": "obligatorio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "numero_de_opciones",
              "displayName": "numero_de_opciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "opciones",
              "displayName": "opciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_registro",
              "displayName": "fecha_registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "es_multiplo",
              "displayName": "es_multiplo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_registro_timestamp",
              "displayName": "fecha_registro_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_modificacion",
              "displayName": "fecha_modificacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "dc3d0f3c-6903-4ec5-b299-f858a79f5419",
      "name": "Postgres_PDWH_Sections",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        960,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "L7nzd88uj5JVSuIu",
          "name": "Postgres Plick - DWH"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 500,
        "options": {}
      },
      "id": "3a218d22-9abc-49db-ba69-6ad98a723f6e",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        480,
        520
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "timezone": "America/Mexico_City",
    "saveManualExecutions": true
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [
        15
      ]
    }
  },
  "tags": [
    {
      "id": "gE7NMe34C54qpshR",
      "createdAt": "2023-07-18T12:43:44.018Z",
      "updatedAt": "2023-07-18T12:43:44.018Z",
      "name": "Plick"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-07-24T21:00:00.000Z",
  "versionId": "7bea1afa-bc6b-4be6-8860-ed23fdf8e26f"
}