workflows/typebot.json
{
  "active": false,
  "connections": {
    "SetToken": {
      "main": [
        [
          {
            "node": "Request_TypeBot_Blocks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Request_TypeBots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-09-14T05:55:03.056Z",
  "id": "35",
  "name": "typebot",
  "nodes": [
    {
      "parameters": {},
      "id": "c511bf1f-b214-4b80-9983-765c34258d60",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Token",
              "value": "DafvNMnxCzwmdPWYdkf3SKbh"
            }
          ]
        },
        "options": {}
      },
      "id": "4b754df7-3cdf-462f-98c0-9f373acb37bf",
      "name": "SetToken",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "10e16cee-a0d4-44bf-8952-9db90fe96789",
        "options": {}
      },
      "id": "ee9ab234-fd8b-4701-8b80-01007549c6d6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        160
      ],
      "webhookId": "10e16cee-a0d4-44bf-8952-9db90fe96789"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://typebot.io/api/typebots/cl6r4zdsf2231ahmba63f3204/blocks/$BLOCK_ID/subscribeWebhook",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "url",
              "value": "https://n8n.jorgeliglabs.com/webhook-test/10e16cee-a0d4-44bf-8952-9db90fe96789"
            }
          ]
        }
      },
      "id": "0d0d1187-b2bc-4ca3-8860-85ffd7dfdef3",
      "name": "Request_Subscribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        760,
        800
      ]
    },
    {
      "parameters": {
        "url": "https://typebot.jorgeliglabs.com/api/typebots/cl6r4zdsf2231ahmba63f3204/webhookBlocks",
        "responseFormat": "string",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"SetToken\"].json[\"Token\"]}}"
            }
          ]
        }
      },
      "id": "3c6d7017-ce13-4712-bcf7-eb27c16f1bcf",
      "name": "Request_TypeBot_Blocks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        760,
        440
      ]
    },
    {
      "parameters": {
        "url": "https://typebot.jorgeliglabs.com/api/typebots",
        "responseFormat": "string",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"SetToken\"].json[\"Token\"]}}"
            }
          ]
        }
      },
      "id": "04e46ccf-1814-4f0e-996b-15a2666aa0fc",
      "name": "Request_TypeBots",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        760,
        280
      ]
    }
  ],
  "pinData": {
    "SetToken": [
      {
        "json": {
          "Token": "DafvNMnxCzwmdPWYdkf3SKbh"
        }
      }
    ]
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2022-09-14T06:06:37.690Z",
  "versionId": "a1684647-1ab6-498b-b2dc-bb727f182101"
}