workflows/Typebot monchoverso.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Mautic Search Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mautic Search Email": {
      "main": [
        [
          {
            "node": "IF NOT EMAIL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF NOT EMAIL": {
      "main": [
        [
          {
            "node": "Mautic1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mautic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mautic": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mautic1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-01-09T23:06:43.954Z",
  "id": "44",
  "name": "Typebot monchoverso",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f8dd022e-e0e4-47c0-8d88-ae16d6d1037d",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e6b6adb1-adcc-4683-963e-9d16cc01d5d8",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        180,
        140
      ],
      "webhookId": "f8dd022e-e0e4-47c0-8d88-ae16d6d1037d"
    },
    {
      "parameters": {
        "email": "={{ $node[\"Webhook\"].json[\"body\"][\"email\"] }}",
        "firstName": "={{ $json[\"body\"][\"name\"] }}",
        "additionalFields": {
          "mobile": "={{ $node[\"Webhook\"].json[\"body\"][\"contact\"] }}",
          "stage": 1,
          "tags": [
            "MonchoversoTypebot"
          ]
        },
        "options": {}
      },
      "id": "49378de9-935e-42d5-a60a-4e8e280d5025",
      "name": "Mautic",
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        720,
        140
      ],
      "credentials": {
        "mauticApi": {
          "id": "23",
          "name": "Mautic Jorgeliglabs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "search": "={{ $json[\"body\"][\"email\"] }}"
        }
      },
      "id": "b30abee4-27a5-4df9-88f0-b4d1b3579eb3",
      "name": "Mautic Search Email",
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        340,
        140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mauticApi": {
          "id": "23",
          "name": "Mautic Jorgeliglabs account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Webhook\"].json[\"body\"][\"email\"] }}"
            }
          ]
        }
      },
      "id": "6f843fe8-6a47-4d4b-bf4e-bcb1613b6b9e",
      "name": "IF NOT EMAIL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        20
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"response\": \"OK\" }",
        "options": {}
      },
      "id": "903007ff-4ae2-485d-b570-e0ea3cafd202",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        80
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "contactId": "={{ $node[\"Mautic Search Email\"].json[\"fields\"][\"all\"][\"id\"] }}",
        "options": {}
      },
      "id": "a403d7bb-a9db-4f81-95c6-7eef6c041575",
      "name": "Mautic1",
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        720,
        -20
      ],
      "credentials": {
        "mauticApi": {
          "id": "23",
          "name": "Mautic Jorgeliglabs account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.jorgeliglabs.com",
            "user-agent": "got (https://github.com/sindresorhus/got)",
            "content-length": "551",
            "accept-encoding": "gzip, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "154.53.32.149",
            "x-forwarded-host": "n8n.jorgeliglabs.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "c64d13edc8e4",
            "x-real-ip": "154.53.32.149"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "This is a sample result, it has been generated ⬇️",
            "Submitted at": "2023-01-10T06:23:47.874Z",
            "name": "answer value",
            "business_name": "answer value",
            "business_city": "answer value",
            "Group #2": "Si",
            "system_names": "answer value",
            "payment": "answer value",
            "eval_price": "Precio",
            "payment_options": "Pago por comisión",
            "own_delivery": "answer value",
            "Group #7": "Si",
            "Group #8": "Si",
            "contact": "answer value",
            "email": "test@email.com",
            "business_social_networks": "answer value",
            "payment_options_detail": "answer value",
            "interest_own_system": "content"
          }
        }
      }
    ],
    "Mautic Search Email": [
      {
        "json": {
          "isPublished": true,
          "dateAdded": "2023-01-10T06:17:10+00:00",
          "dateModified": null,
          "createdBy": 1,
          "createdByUser": "Jorge Estrada",
          "modifiedBy": 1,
          "modifiedByUser": "Jorge Estrada",
          "id": 4,
          "points": 0,
          "color": null,
          "fields": {
            "core": {
              "points": {
                "id": "9",
                "label": "Points",
                "alias": "points",
                "type": "number",
                "group": "core",
                "object": "lead",
                "is_fixed": "1",
                "properties": "a:0:{}",
                "default_value": "0",
                "value": 0,
                "normalizedValue": 0
              },
              "last_active": {
                "id": "19",
                "label": "Date Last Active",
                "alias": "last_active",
                "type": "datetime",
                "group": "core",
                "object": "lead",
                "is_fixed": "1",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "title": {
                "id": "1",
                "label": "Title",
                "alias": "title",
                "type": "lookup",
                "group": "core",
                "object": "lead",
                "is_fixed": "1",
                "properties": "a:1:{s:4:\"list\";a:3:{i:0;s:2:\"Mr\";i:1;s:3:\"Mrs\";i:2;s:4:\"Miss\";}}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "firstname": {
                "id": "2",
                "label": "First Name",
                "alias": "firstname",
                "type": "text",
                "group": "core",
                "object": "lead",
                "is_fixed": "1",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "lastname": {
                "id": "3",
                "label": "Last Name",
                "alias": "lastname",
                "type": "text",
                "group": "core",
                "object": "lead",
                "is_fixed": "1",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "company": {
                "id": "4",
                "label": "Primary company",
                "alias": "company",
                "type": "text",
                "group": "core",
                "object": "lead",
                "is_fixed": "1",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "position": {
                "id": "5",
                "label": "Position",
                "alias": "position",
                "type": "text",
                "group": "core",
                "object": "lead",
                "is_fixed": "1",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "email": {
                "id": "6",
                "label": "Email",
                "alias": "email",
                "type": "email",
                "group": "core",
                "object": "lead",
                "is_fixed": "1",
                "properties": "a:0:{}",
                "default_value": null,
                "value": "test@email.com",
                "normalizedValue": "test@email.com"
              },
              "phone": {
                "id": "8",
                "label": "Phone",
                "alias": "phone",
                "type": "tel",
                "group": "core",
                "object": "lead",
                "is_fixed": "1",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "mobile": {
                "id": "7",
                "label": "Mobile",
                "alias": "mobile",
                "type": "tel",
                "group": "core",
                "object": "lead",
                "is_fixed": "1",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "address1": {
                "id": "11",
                "label": "Address Line 1",
                "alias": "address1",
                "type": "text",
                "group": "core",
                "object": "lead",
                "is_fixed": "1",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "address2": {
                "id": "12",
                "label": "Address Line 2",
                "alias": "address2",
                "type": "text",
                "group": "core",
                "object": "lead",
                "is_fixed": "1",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "city": {
                "id": "13",
                "label": "City",
                "alias": "city",
                "type": "text",
                "group": "core",
                "object": "lead",
                "is_fixed": "1",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "state": {
                "id": "14",
                "label": "State",
                "alias": "state",
                "type": "region",
                "group": "core",
                "object": "lead",
                "is_fixed": "1",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "zipcode": {
                "id": "15",
                "label": "Zip Code",
                "alias": "zipcode",
                "type": "text",
                "group": "core",
                "object": "lead",
                "is_fixed": "1",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "timezone": {
                "id": "18",
                "label": "Preferred Timezone",
                "alias": "timezone",
                "type": "timezone",
                "group": "core",
                "object": "lead",
                "is_fixed": "1",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "country": {
                "id": "16",
                "label": "Country",
                "alias": "country",
                "type": "country",
                "group": "core",
                "object": "lead",
                "is_fixed": "1",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "fax": {
                "id": "10",
                "label": "Fax",
                "alias": "fax",
                "type": "tel",
                "group": "core",
                "object": "lead",
                "is_fixed": "0",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "preferred_locale": {
                "id": "17",
                "label": "Preferred Locale",
                "alias": "preferred_locale",
                "type": "locale",
                "group": "core",
                "object": "lead",
                "is_fixed": "1",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "attribution_date": {
                "id": "20",
                "label": "Attribution Date",
                "alias": "attribution_date",
                "type": "datetime",
                "group": "core",
                "object": "lead",
                "is_fixed": "1",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "attribution": {
                "id": "21",
                "label": "Attribution",
                "alias": "attribution",
                "type": "number",
                "group": "core",
                "object": "lead",
                "is_fixed": "1",
                "properties": "a:2:{s:9:\"roundmode\";i:4;s:5:\"scale\";i:2;}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "website": {
                "id": "22",
                "label": "Website",
                "alias": "website",
                "type": "url",
                "group": "core",
                "object": "lead",
                "is_fixed": "0",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              }
            },
            "social": {
              "facebook": {
                "id": "23",
                "label": "Facebook",
                "alias": "facebook",
                "type": "text",
                "group": "social",
                "object": "lead",
                "is_fixed": "0",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "foursquare": {
                "id": "24",
                "label": "Foursquare",
                "alias": "foursquare",
                "type": "text",
                "group": "social",
                "object": "lead",
                "is_fixed": "0",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "instagram": {
                "id": "25",
                "label": "Instagram",
                "alias": "instagram",
                "type": "text",
                "group": "social",
                "object": "lead",
                "is_fixed": "0",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "linkedin": {
                "id": "26",
                "label": "LinkedIn",
                "alias": "linkedin",
                "type": "text",
                "group": "social",
                "object": "lead",
                "is_fixed": "0",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "skype": {
                "id": "27",
                "label": "Skype",
                "alias": "skype",
                "type": "text",
                "group": "social",
                "object": "lead",
                "is_fixed": "0",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              },
              "twitter": {
                "id": "28",
                "label": "Twitter",
                "alias": "twitter",
                "type": "text",
                "group": "social",
                "object": "lead",
                "is_fixed": "0",
                "properties": "a:0:{}",
                "default_value": null,
                "value": null,
                "normalizedValue": null
              }
            },
            "personal": [],
            "professional": [],
            "all": {
              "id": "4",
              "points": 0,
              "last_active": null,
              "title": null,
              "firstname": null,
              "lastname": null,
              "company": null,
              "position": null,
              "email": "test@email.com",
              "phone": null,
              "mobile": null,
              "address1": null,
              "address2": null,
              "city": null,
              "state": null,
              "zipcode": null,
              "timezone": null,
              "country": null,
              "fax": null,
              "preferred_locale": null,
              "attribution_date": null,
              "attribution": null,
              "website": null,
              "facebook": null,
              "foursquare": null,
              "instagram": null,
              "linkedin": null,
              "skype": null,
              "twitter": null
            }
          },
          "lastActive": null,
          "owner": null,
          "ipAddresses": [],
          "tags": [],
          "utmtags": [],
          "stage": null,
          "dateIdentified": "2023-01-10T06:17:10+00:00",
          "preferredProfileImage": null,
          "doNotContact": [],
          "frequencyRules": []
        }
      }
    ]
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-02-06T04:26:14.000Z",
  "versionId": "ff909851-2ff6-468f-9376-9a2cd870b028"
}